.Order{
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    border: 1px solid #eeeeee;
    box-shadow: 0px 3px 4px #ccc;
    text-align: center;
    background-color:#eeeeee;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),-7px -7px 5px 5px rgba(255,255,255,.4);
}

.OrderSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color:#eeeeee;
    border: 1px solid #eeeeee;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),-5px -5px 10px 5px  rgba(255,255,255,.4);

}

.summary:hover, .TotalPrice:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
                -5px -5px 10px 5px  rgba(255,255,255,.4),
                inset 10px 10px 10px rgba(0,0,0,0.1),
                inset -5px -5px 10px 5px  rgba(255,255,255,.4);
}

.summary div{
    padding: .3rem;
}
.Burger{

    width: 45%;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    display:none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 4px 4px 4px #ccc;
    background-image: linear-gradient(315deg, rgb(114, 221, 14) 0,rgb(114, 221, 14) 80%,rgb(105, 182, 33) 50%);
    
}

.TotalPrice{
    text-align: left;
    padding: .5rem;
    display: inline-block;
    margin: 1rem;
    background-color:#eeeeee;
    border: 1px solid #eeeeee;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),-5px -5px 10px 5px  rgba(255,255,255,.8);
}

@media (min-width:600px){
    .Order{
        width: 500px;
    }
    .Burger{
        display: inline-flex;
    }
    .summary{
        width:50%;
    }
    
}

@media (min-width:800px){
    .Order{
        width: 600px;
    }
    .Burger{
        display: inline-flex;
    }
    .summary{
        width:50%;
    }
    
}


@media (min-width:1000px){
    .Order{
        width: 1000px;
    }
    .Burger{
        display: inline-flex;
    }
    .summary{
        width:50%;
    }
    
}