.DrawerToggler{
    width: 40px ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px 0 ;
}

.DrawerToggler div{
    width: 80%;
    height: 3px ;
    margin: 3px 0px;
    background-color: white;
}


@media (min-width: 500px) {
    .DrawerToggler {
        display: none;
    }
}